<template>
  <div id="scheduleSetTable">
    <el-card class="box-card">
      <el-table :data="set">
        <el-table-column prop="scheduleId" label="ID">
        </el-table-column>
        <el-table-column prop="day" label="Day">
          <template slot-scope="scope">
            {{ utils.getHumanDay(scope.row.day) }}
          </template>
        </el-table-column>
        <el-table-column align="center" prop="start" label="Start">
          <template slot-scope="scope">
            {{ utils.getRealTime(scope.row.start)}}
          </template>
        </el-table-column>
        <el-table-column align="center" prop="end" label="End">
          <template slot-scope="scope">
            {{ utils.getRealTime(scope.row.end)}}
          </template>
        </el-table-column>
        <el-table-column align="center" label="Actions">
          <template slot-scope="scope">
            <i title="Edit" @click="dialogVisible = true, setEditableSchedule(scope.row.scheduleId)" class="el-icon-edit"></i>
            |
            <i title="Delete" @click="deleteSchedule(scope.row.scheduleId)" class="el-icon-delete"></i>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-dialog :title="'Edit Schedule ' + editableSchedule.scheduleId" :visible.sync="dialogVisible" width="30%">
      <el-select v-model="editableSchedule.day" placeholder="Select">
        <el-option v-for="(day, codeDay) in utils.days" :key="codeDay" :label="day" :value="codeDay">
        </el-option>
      </el-select>
      <br>
      <el-time-select v-model="editableSchedule.start" :picker-options="{
          start:  '00:00',
          step: '00:15',
          end: '23:45'
        }"
        placeholder="Select start">
      </el-time-select>
      <el-time-select v-model="editableSchedule.end" :picker-options="{
          start:  '00:00',
          step: '00:15',
          end: '23:45'
        }"
        placeholder="Select end">
      </el-time-select>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="editSchedule()">Edit</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import API from "../api/schedules";
  import { find, omit, clone } from "lodash";
  import utils from "../utils/dateFormat";

  export default {
    name: "ListScheduleSetComponent",
    props: ["set", "setID"],
    data() {
      return {
        dialogVisible: false,
        editableSchedule: {},
        utils: utils
      };
    },
    methods: {
      async editSchedule() {
        this.editableSchedule.start = utils.getMinutesOfDay(
          this.editableSchedule.start
        );
        this.editableSchedule.end = utils.getMinutesOfDay(
          this.editableSchedule.end
        );
        try {
          await API.updateSchedule(
            this.setID,
            this.editableSchedule.scheduleId,
            omit(this.editableSchedule, ["scheduleId"])
          );
          this.dialogVisible = false;
          this.$message({
            type: "success",
            message: "Edit completed"
          });
          // event to update list
          this.$emit("update", this.setID);
        } catch (error) {
          this.dialogVisible = false;
          this.$message({
            type: "error",
            message: error.response.data.message
          });
        }
      },
      setEditableSchedule(id) {
        this.editableSchedule = clone(find(this.set, { scheduleId: id }));
        this.editableSchedule.start = utils.getRealTime(
          this.editableSchedule.start
        );
        this.editableSchedule.end = utils.getRealTime(this.editableSchedule.end);
      },
      deleteSchedule(id) {
        // confirmation dialog
        this.$confirm(
          "This will permanently delete this Schedule. Continue?",
          "Warning",
          {
            confirmButtonText: "OK",
            cancelButtonText: "Cancel",
            type: "warning"
          }
        ).then(async () => {
          await API.deleteSchedule(this.setID, id);
          // event to update list
          this.$emit("update", this.setID);
          this.$message({
            type: "success",
            message: "Delete completed"
          });
        });
      }
    }
  };
</script>

<style scoped>
  #scheduleSetTable {
    margin: 0 auto;
  }
</style>