<template>
  <div class="select-scheduleSet">
    <p>Select an ScheduleSet</p>
    <el-select v-model="selectedID" @change="$emit('selected', selectedID)">
      <el-option v-for="set in scheduleSets" :key="set.id" :label="set.name" :value="set.id">
      </el-option>
    </el-select>
    <i id="delete-icon" title="Delete" v-show="selectedID" @click="deleteScheduleSet()" class="el-icon-delete"></i>
  </div>
</template>

<script>
  import API from "../api/schedules";

  export default {
    name: "SelectScheduleSetComponent",
    created() {
      this.getSets();
    },
    data() {
      return {
        selectedID: "",
        scheduleSets: []
      };
    },
    methods: {
      async getSets() {
        this.scheduleSets = await API.getSets();
      },
      deleteScheduleSet() {
        // confirmation dialog
        this.$confirm(
          "This will permanently delete this ScheduleSet. Continue?",
          "Warning",
          {
            confirmButtonText: "OK",
            cancelButtonText: "Cancel",
            type: "warning"
          }
        ).then(async () => {
          await API.deleteScheduleSet(this.selectedID);
          this.selectedID = "";
          // event to clear list
          this.$emit("clear");
          // update select
          await this.getSets();
          this.$message({
            type: "success",
            message: "Delete completed"
          });
        });
      }
    }
  };
</script>

<style scoped>
  #delete-icon {
    margin-left: 10px;
  }
</style>