<template>
  <div id="app">
    <small v-if="orderingDate && selectedSetID" id="ordering-date">Next available ordering date:
      <b><span v-if="orderingDate.nextDayName">{{utils.getHumanDay(orderingDate.nextDayName)}} </span>{{ orderingDate.hour }}:{{ getFormattedMinutes }}</b>
    </small>
    <br>
    <SelectScheduleSet @selected="getScheduleSet" @clear="clearAll()"/>
    <br>
    <br>
    <ListScheduleSet v-show="scheduleSet.length > 0" @update="getScheduleSet" :set="scheduleSet" :setID="selectedSetID"/>
  </div>
</template>

<script>
import "./utils/padStart";
import SelectScheduleSet from "./components/SelectScheduleSet";
import ListScheduleSet from "./components/ListScheduleSet";
import API from "./api/schedules";
import utils from "./utils/dateFormat";

export default {
  name: "app",
  data() {
    return {
      scheduleSet: [],
      selectedSetID: null,
      orderingDate: null,
      interval: null,
      utils: utils
    };
  },
  computed: {
    // add a 0 when minutes = 0-9 (only to show it nicely)
    getFormattedMinutes() {
      let minutes = this.orderingDate.minutes.toString();
      return utils.getFormattedMinutes(minutes);
    }
  },
  // mixins: [utils],
  created() {
    this.startInterval();
  },
  beforeDestroy() {
    this.stopInterval();
  },
  components: {
    SelectScheduleSet,
    ListScheduleSet
  },
  methods: {
    startInterval() {
      // Possible use of websocket but I think is not worth it
      this.interval = setInterval(() => {
        let now = new Date();
        // update next available ordering date every 15 minutes and 1-3 seconds (in case of failed requests)
        if (
          this.selectedSetID &&
          now.getMinutes() % 15 == 0 &&
          (now.getSeconds() > 0 && now.getSeconds() <= 3)
        ) {
          this.updateOrderingDate(this.selectedSetID);
        }
      }, 1000);
    },
    stopInterval() {
      if (this.interval) {
        clearInterval(this.interval);
        this.interval = undefined;
      }
    },
    async getScheduleSet(id) {
      this.scheduleSet = await API.getByID(id);
      this.selectedSetID = id;
      this.updateOrderingDate(id);
    },
    async updateOrderingDate(id) {
      this.orderingDate = await API.getNextOrdering(id);
    },
    clearAll() {
      this.scheduleSet = [];
      this.selectedSetID = null;
    }
  }
};
</script>

<style>
#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width: 50%;
  margin: 0 auto;
}

i {
  cursor: pointer;
}

.el-select-dropdown__item {
  font-family: "Roboto", Helvetica;
}

#ordering-date {
  float: right;
}
</style>
